<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome | ToBeConsumed</title>
      <link rel="stylesheet" href="/static/Land.css">
</head>
<body>
    <div class="container">
        <h1>Your<br><span class="brand">ToBeConsumed</span> <small><br>Dashboard</small></h1>
        <h2>Track the books, movies, and shows you want to consume.</h2>
        <a href="/index" class="btn">Start Now</a>
    </div>

</body>
</html>